<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Side by side compression comparison</title>

  <script src="../public/swfobject.js" type="text/javascript"></script>

  <script type="text/javascript" charset="utf-8">
    var player1 = null;
	var player2 = null;
	var currentPosition = 0;

	function createPlayer(thePlaceholder, thePlayerId, theFile, theAutostart) {
	    var flashvars = {
	            file:theFile, 
	            autostart:theAutostart,
	            playlistsize:"150",
                playlist:"bottom"
	    }
	    var params = {
	            allowfullscreen:"true", 
	            allowscriptaccess:"always"
	    }
	    var attributes = {
	            id:thePlayerId,  
	            name:thePlayerId
	    }
	    swfobject.embedSWF("../public/player.swf", thePlaceholder, "432", "400", "9.0.115", false, flashvars, params, attributes);
	}

	function init() {
	    createPlayer("placeholder1", "player1", "../output/1/0.mp4", false);
	    createPlayer("placeholder2", "player2", "../output/1/1.mp4", false);
	}

    function playerReady(thePlayer) {
		if (thePlayer.id == 'player1') {
			player1 = window.document[thePlayer.id];
			player1.addModelListener("TIME", "positionListener");
		} else if (thePlayer.id == 'player2')
			player2 = window.document[thePlayer.id];
    };

	function loadPlaylists(){
		var playlist = [
<% @results.each do |r| %>
   		 	{'file': '<%= r[:filename] %>', 'title':'<%= r[:filename] %>'},
<% end %>
		]
		
		player1.sendEvent('LOAD', playlist);
		player2.sendEvent('LOAD', playlist);
	}
		
	function scrubAhead(){
		currentPosition += 1;
		player1.sendEvent('SEEK', currentPosition);
		player1.sendEvent('PLAY');
		player2.sendEvent('SEEK', currentPosition);
		player2.sendEvent('PLAY');
	}

	function positionListener(obj) {
		currentPosition = obj.position; 
	}

  </script>
</head>

<body onload="init();">

	<table><tr><td>
	    <div id="wrapper1">
	        <div id="placeholder1"></div>
	    </div>
    </td><td>
		<div id="wrapper2">
	        <div id="placeholder2"></div>
	    </div>
	</td></tr></table>
	
	<ul>
	<li><a href="javascript:loadPlaylists()">Load playlists</a>.</li>
	<li><a href="javascript:scrubAhead()">Scrub 30 Seconds forward</a>.</li>
	</ul>
	
    <script type="text/javascript" charset="utf-8">
      urchinTracker = function(path) {
        if (typeof(console) != 'undefined') {
          console.info("urchinTracker call: " + path);
        }
      }
    </script>

<P>
SETUP:<BR>
1) ln -nfs /Users/stephenclifton/code/compression_tests /Library/WebServer/Documents/compression <BR>
2) apachectl start<BR>
3) open http://localhost/compression/output/side_by_side.html<BR>

</body>
</html>



